:root {
  --fail: #E74C3C;
  --pass: #23D160;
  --error: #FFDD57;
  --skip: #ECF0F1;
  --unknown: #3273DC;
  --info: #2C3E50;
  --burger-margin: 7px;
}

.hero {

  & .subtitle {
    & .toggle {

      & a {
        transition: background-color 0.2s;
        border-color: #fff;

        & span {
          color: #444;
        }
      }
    }

    & .change {
      padding: 9px 0 8px 0;
      display: inline-flex;
      border-radius: 0px !important;
    }

    & .is-suites,
    & .is-tests,
    & .is-properties {
      min-width: 110px;

      & .count,
      & .change {
        background-color: color(var(--info) tint(60%)) !important;

        &:hover {
          background-color: color(var(--info) tint(80%)) !important;
        }
      }

      & .count {
        & .icon {
          display: none;
        }
      }
    }

    & .is-pass {
      & .count,
      & .change {
        background-color: var(--pass) !important;

        &:hover {
          background-color: color(var(--pass) tint(20%)) !important;
        }
      }
    }

    & .is-fail {
      & .count,
      & .change {
        background-color: var(--fail) !important;

        &:hover {
          background-color: color(var(--fail) tint(20%)) !important;
        }
      }
    }

    & .is-error {
      & .count,
      & .change {
        background-color: var(--error) !important;

        &:hover {
          background-color: color(var(--error) tint(20%)) !important;
        }
      }
    }

    & .is-skip {
      & .count,
      & .change {
        background-color: var(--skip) !important;

        &:hover {
          background-color: color(var(--skip) b(20%)) !important;
        }
      }
    }

    & .is-unknown {
      & .count,
      & .change {
        background-color: color(var(--unknown) tint(30%)) !important;

        &:hover {
          background-color: color(var(--unknown) tint(20%)) !important;
        }
      }
    }
  }
}
